<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="parking">
      <h2 data-cy="parkingDetailsHeading"><span jhiTranslate="demoApp.parking.detail.title">Parking</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ parking.id }}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.parking.nom">Nom</span></dt>
        <dd>
          <span>{{ parking.nom }}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.parking.nb_places">Nb Places</span></dt>
        <dd>
          <span>{{ parking.nb_places }}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.parking.date_creation">Date Creation</span></dt>
        <dd>
          <span>{{ parking.date_creation | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="demoApp.parking.is_open">Is Open</span></dt>
        <dd>
          <span>{{ parking.is_open }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/parking', parking.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
