<div>
  <h2 id="page-heading" data-cy="Parking2Heading">
    <span jhiTranslate="demoApp.parking2.home.title">Parking 2 S</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="demoApp.parking2.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parking-2"
        [routerLink]="['/parking-2/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="demoApp.parking2.home.createLabel">Create a new Parking 2</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parking2s?.length === 0">
    <span jhiTranslate="demoApp.parking2.home.notFound">No Parking 2 S found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="parking2s && parking2s.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="demoApp.parking2.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nbPlaces">
            <div class="d-flex">
              <span jhiTranslate="demoApp.parking2.nbPlaces">Nb Places</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateCreation">
            <div class="d-flex">
              <span jhiTranslate="demoApp.parking2.dateCreation">Date Creation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isOpen">
            <div class="d-flex">
              <span jhiTranslate="demoApp.parking2.isOpen">Is Open</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let parking2 of parking2s; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parking-2', parking2.id, 'view']">{{ parking2.id }}</a>
          </td>
          <td>{{ parking2.nom }}</td>
          <td>{{ parking2.nbPlaces }}</td>
          <td>{{ parking2.dateCreation | formatMediumDate }}</td>
          <td>{{ parking2.isOpen }}</td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/parking-2', parking2.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </a>

              <a [routerLink]="['/parking-2', parking2.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </a>

              <button type="submit" (click)="delete(parking2)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
